<style>
   [id^=modal_add_] .selected {
      background-color: #e0f1af !important;
  }

  [id^=modal_add_] tr {
      cursor: pointer;
  } 

  .my-error{
      margin-top: 5px;
      color: #B94A48 !important;
      background-color: #F2DEDE !important;
      border: 1px solid #EED3D7 !important;
      padding: 10px;
  }
</style>

<div class="modal fade" id="modalAddHyper" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">   
               <button type="button" class="close" 
                  data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">关闭</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus fa-1x"> </i><i class="fa fa-rocket"> </i> 添加新的虚拟服务器
               </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
               <form id="modalAdd" class="form-horizontal form-label-left">
                  <div class="x_panel">
                        <div class="x_content">
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">名称 <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="id" class="form-control col-md-7 col-xs-12" maxlength="127" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[2, 127]" name="id" placeholder="Identification name" required="required" type="text">
                              </div>
                           </div>
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">说明
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <textarea id="description" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                              </div>
                           </div>
                     </div>
                  </div>

                  <div class="x_panel">
                           <div class="x_title">
                              <h4>网络ssh监控信息<small></small></h4>
                              <ul class="nav navbar-right panel_toolbox">
                                 <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                 </li>
                              </ul>
                              <div class="clearfix"></div>
                           </div>
                           <div class="x_content">

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostname">Hostname <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="hostname" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="hostname" placeholder="Network ip/dns name" required="required" type="text">
                              </div>
                           </div>

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">名称 <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="user" class="form-control col-md-7 col-xs-12" maxlength="80" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 80]" name="user" placeholder="User used to connect" required="required" type="text">
                              </div>
                           </div>
                           
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SSH 端口 <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="port" placeholder="SSH port" required="required" type="text">
                              </div>
                           </div>
                                                
                     </div>  
                  </div>

                  <div class="x_panel">
                        <div class="x_title">
                           <h4>能力与储备<small></small></h4>
                           <ul class="nav navbar-right panel_toolbox">
                              <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                              </li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>

                        <div class="x_content"> 
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-disk_operations">磁盘操作
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
                                 <label class="">
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                       <input type="checkbox" id="capabilities-disk_operations" name="capabilities-disk_operations" class="flat capabilities_disk_operations"  style="position: absolute; opacity: 0;">
                                       <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                       </ins>
                                    </div> 选择是否可以操作桌面磁盘
                                 </label>
                              </div>                
                              </div>
                           </div>

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-hypervisor">集群
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
                                 <label class="">
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                       <input type="checkbox" id="capabilities-hypervisor" name="capabilities-hypervisor" class="flat capabilities_hypervisor"  style="position: absolute; opacity: 0;">
                                       <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                       </ins>
                                    </div> 选择是否可以启动桌面
                                 </label>
                              </div> 
                              </div>                                              
                           </div>

                           <div id="viewer_fields" style="display:none;">
                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-static">虚拟主机
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input  id="viewer-static" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-static" placeholder="IP/DNS for isard (static) host" type="text">
                                 </div>
                              </div> 
                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_video">视频代理主机（squid/websockify）
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-proxy_video" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_video" placeholder="IP/DNS for video server" type="text">
                                 </div>
                              </div>  

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SPICE (squid) 外部端口 <span class="required">*</span>
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-spice_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-spice_ext_port" placeholder="Default 80" required="required" type="text" value="80">
                                 </div>
                              </div>

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">HTML5 (websockify) 外部端口 <span class="required">*</span>
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-html5_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-html5_ext_port" placeholder="Default 443" required="required" type="text" value="443">
                                 </div>
                              </div>

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_hyper_host">来自视频代理的管理程序主机名
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-proxy_hyper_host" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_hyper_host" placeholder="IP/DNS from video proxy" type="text">
                                 </div>
                              </div>
                           </div>

                        </div>

                        <div class="x_content">
                           <div id="checkbox_add_error" style="display:none" class="alert alert-danger alert-dismissible " role="alert">
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                               </button>
                               <div id="checkbox_add_error_html"></div>
                           </div>
                       </div>
                                                   
                     <div class="item form-group">
                           <label>池:</label>
                              <select class="form-control" id="hypervisors_pools_dropdown" name="hypervisors_pools">
                              </select>
                     </div>                     
                  </div>

               </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                   <li><button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button></li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <button id="send" type="button" class="btn btn-success">创建虚拟服务器</button>
               </ul>
           </div>
         </div>
   </div>
</div>

<div class="modal fade" id="modalEditHyper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">   
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">关闭</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"></i><i class="fa fa-rocket"> </i> 编辑虚拟服务器
            </h4>
         </div>
            
         <!-- Modal Body -->
         <div class="modal-body">
               
            <form id="modalEdit" class="form-horizontal form-label-left">
               <div class="x_panel">
                  <div class="x_content">
                     <input type="hidden" id="id" name="id"/>                        
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="fake_id" class="form-control col-md-7 col-xs-12" maxlength="127" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 127]" name="fake_id" placeholder="Identification name" required="required" type="text" disabled>
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">说明
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="description" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="x_panel">
                  <div class="x_title">
                     <h4>网络ssh监控信息<small></small></h4>
                     <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostname">Hostname <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="hostname" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="hostname" placeholder="Network ip/dns name" required="required" type="text">
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">用户 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="user" class="form-control col-md-7 col-xs-12" maxlength="80" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 80]" name="user" placeholder="User used to connect" required="required" type="text">
                        </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SSH 端口 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="port" placeholder="SSH port" required="required" type="text">
                        </div>
                     </div>     
                  </div>  
               </div>

               <div class="x_panel">
                  <div class="x_title">
                     <h4>能力与储备<small></small></h4>
                     <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content"> 

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-disk_operations">磁盘操作
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="capabilities-disk_operations" name="capabilities-disk_operations" class="flat capabilities_disk_operations"  style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div> 选择是否可以操作磁盘
                           </label>
                        </div>
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-hypervisor">集群
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="capabilities-hypervisor" name="capabilities-hypervisor" class="flat capabilities_hypervisor"  style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div> 选择是否可以启动桌面
                           </label>
                        </div>
                        </div>
                     </div>

                     <div id="viewer_fields" style="display:none;">
                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-static">网络主机
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input  id="viewer-static" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-static" placeholder="IP/DNS for isard (static) host" type="text">
                           </div>
                        </div> 
                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_video">视频代理主机（squid/websockify）
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-proxy_video" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_video" placeholder="IP/DNS for video server" type="text">
                           </div>
                        </div>  

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SPICE (squid) 外部端口 <span class="required">*</span>
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-spice_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-spice_ext_port" placeholder="Default 80" required="required" type="text">
                           </div>
                        </div>

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">HTML5 (websockify) 外部端口 <span class="required">*</span>
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-html5_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-html5_ext_port" placeholder="Default 443" required="required" type="text">
                           </div>
                        </div>

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_hyper_host">来自视频代理的管理程序主机名
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-proxy_hyper_host" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_hyper_host" placeholder="IP/DNS from video proxy" type="text">
                           </div>
                        </div>
                     </div>

                     <div class="x_content">
                        <div id="checkbox_edit_error" style="display:none" class="alert alert-danger alert-dismissible " role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            <div id="checkbox_edit_error_html"></div>
                        </div>
                    </div>
                                                
                     <div class="item form-group">
                        <label>池:</label>
                        <select class="form-control" id="hypervisors_pools_dropdown" name="hypervisors_pools">
                        </select>
                     </div>                     
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
               <li><button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <button id="send" type="button" class="btn btn-success">更新虚拟服务器</button>
            </ul>
         </div>
      </div>
   </div>
</div>

<!-- ADD -->
<div class="modal fade" id="modalAddGpu" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddGpu" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">关闭</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-briefcase"> </i> 添加 gpu
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalAdd" class="form-inline form-label-left">
               <div class="x_panel">
                  <h4><i class="fa fa-info-circle" aria-hidden="true"></i> GPU 名称和描述</h4>
                  <div class="x_content" style="padding: 0px;">
                     <div class="row">
                        <div class="col-md-4 col-xs-12">
                           <label class="control-label" for="name">名称 <span class="required">*</span>
                           </label>
                           <input id="name" class="roundbox" maxlength="40" pattern="^[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New gpu name" data-parsley-trigger="change" required type="text" style="width:100%">
                        </div>
                        <div class="col-md-8 col-xs-12">
                           <label class="control-label" for="description">说明 <span class="required">*</span>
                           </label>
                           <input id="description" class="roundbox" name="description" placeholder="Gpu description"  type="text" style="width:100%">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="x_panel">
                  <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Select a profile</h4>
                  <input  id="reservable_type" name="reservable_type" type="hidden" required>
                  <input  id="bookable" name="bookable" type="hidden" required>
                  <table id="modal_add_gpu" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                     <thead>
                        <tr>
                            <th>名称</th>
                            <th>品牌</th>
                            <th>类型</th>
                            <th>说明</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
                  <div id="datatables-error-status"></div>
               </div>
            </form>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                  <li><button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button></li>
                  </li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <li><button id="send" type="button" class="btn btn-success">创建可预订</button></li>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalDeleteProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <!-- Modal Header -->
           <div class="modal-header">
               <h4 class="modal-title">
                   <i class="fa fa-delete fa-1x"> </i> <i class="fa fa-user"> </i>  禁用配置文件
               </h4>
           </div>

           <!-- Modal Body -->
           <div class="modal-body">

               <form id="modalDeleteProfileForm" class="form-horizontal form-label-left">
                   <input id="item_id" hidden/>
                   <input id="subitem_id" hidden/>
                   <input id="reservable_type" hidden/>
                   <input id="desktops" name="desktops[]" hidden/>
                   <input id="plans" name="plans[]" hidden/>
                   <div class="x_panel">
                       <div class="x_content">
                           <h4 style="color: red"><i class="fa fa-warning"> </i> 此配置文件将从这些桌面中删除.</h4>
                           <div class="item form-profile">
                               <table id="table_modal_profile_delete" class="table">
                                   <thead>
                                     <tr>
                                       <th>类型</th>
                                       <th>拥有者/id</th>
                                       <th>名称/date</th>
                                     </tr>
                                   </thead>
             
                                   <tbody>
                                   </tbody>
                                 </table>
                           </div>
                       </div>
                   </div>

               </form>
           </div>
           <!-- Modal Footer -->
           <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                   <li><button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button></li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                   <li><button id="send" type="button" class="btn btn-danger">删除配置文件</button></li>
               </ul>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" id="modalForcedProfile" tabindex="-1" role="dialog" aria-labelledby="modalForcedProfile" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="padding: 5px;">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">关闭</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-flash"> </i> 强制 GPU 活动配置文件
            </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalForcedProfileForm" class="form-horizontal">
               <div class="x_panel">
                  <div class="x_content">
                     <input hidden id="id" name="id"/>
                     <input hidden id="physical_device" name="physical_device"/>
                     <div class="item form-group">
                        <label>选择要设置的 GPU 配置文件: </label>
                        <br>
                        <div class="row">
                           <div class="col-md-8 col-sm-8 col-xs-12">
                              <select id="forced_active_profile" name="forced_active_profile" class="form-control" required>
                              </select> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <label style="color:red">
                     警告！ 如果启动了具有当前活动配置文件的桌面，如果强制使用不同的活动配置文件，此操作将立即停止它们。
                     此操作不会考虑 GPU 配置文件的当前规划，以便能够更改活动配置文件。                  </label>
               </div>
            </form>
         </div>

         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-success">发送</button></li>
            </ul>
        </div>
      </div>
   </div>
</div>