
  <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <link href="../src/skin-win8/ui.fancytree.css" rel="stylesheet">
  <script src="../src/jquery.fancytree.js"></script>


  <p class="description">
    此树启用了<b>复选框和 selectMode 3（分层多选）</b>。<br>
    节点 `n3` 具有 <code>unselectable</code> 模式的不同变体。
  </p>
  <p>
    <a href="#" id="btnSelectAll3">全部选择</a> -
    <a href="#" id="btnDeselectAll3">全部不选择</a> -
    <a href="#" id="btnGetSelected3">被选择</a>
  </p>
  <div id="tree3"></div>
  <div>选定键: <span id="echoSelection3">-</span></div>
  <div>选定的根键: <span id="echoSelectionRootKeys3">-</span></div>
